.response {
  color: green;
}

.form {
  background-color: white;
  border-radius: 5px;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  /* height: 600px; */
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}

.errorMessage {
  text-align: center;
  color: red;
}

.form-body > * {
  padding: 5px;
}

.form__label {
  width: 40%;
}

.form_input {
  width: 60%;
}

.footer {
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* CSS */
.login-button {
  margin-left: -70px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.login-button:hover,
.login-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.login-button:hover {
  transform: translateY(-3px);
}

.login-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.register-button {
  margin-top: 20px;
  margin-left: -70px;
  align-items: center;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(92, 89, 89, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.register-button:hover,
.register-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(248, 247, 247, 0.65);
  text-decoration: none;
}

.register-button:hover {
  transform: translateY(-3px);
}

.register-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.homeError {
  color: red;
  text-align: center;
  margin-top: 10%;
  font-size: 1.5rem;
}

.book {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.addStockDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeStocksButton {
  margin: 20px 0;
  margin-left: -60px;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 5px 15px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.changeStocksButton:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

.dashboardContainer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminDashboardCard {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: box-shadow 0.3s ease-in-out;
  border: none;
}

.adminDashboardCard:hover {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  transition: box-shadow 0.3s ease-in-out;
}

.adminDashboardCard:focus {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.loginRegister {
  position: absolute;
  right: 0;
  top: 5px;
}

.loginHeader {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

.postLoggedInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
}

.userName {
  margin-top: 8px;
  margin-right: 40px;
}

.userName:hover {
  color: cadetblue;
  cursor: pointer;
}

.cartIcon {
  margin-bottom: 8px;
}

.cartIcon:hover {
  cursor: pointer;
}

.cartItems {
  width: 100px;
  display: grid;
  grid-template-columns: auto auto;
}

.cartItem {
  padding: 20px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  width: 350px;
  margin: 20px;
}

.cartItem:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.emptyCart {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.cartEmptyh3 {
  text-align: center;
  margin-top: 50px;
}

.cartOrderButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentOrders {
  margin-top: 50px;
}

.orderItems {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
}

.recentOrderHeader {
  text-align: center;
}

.orderPrice {
  font-size: 1.5rem;
  margin-top: 30px;
  text-align: center;
}
